<%= form_with(model: apartment, html: { multipart: true }, local: true) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.file_field :image %>
  </div>
  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :apartment_street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :apartment_city %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :apartment_zipcode %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :apartment_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :apartment_country %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :apartment_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :apartment_phone %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.text_field :hours, id: :apartment_hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
